TENANT_SLUG=permetal
COMPANY_NAME=Permetal

SERVER_IP=192.168.2.4
CHAT_HOST=bashchat
ADMIN_HTTPS_ENABLED=false
ADMIN_HOST=
UPDATES_HOST=bashchat
UPDATES_PATH_PREFIX=/desktop/win
CLIENT_SKIP_HOSTS=true
UPDATES_PUBLISH_DIR=C:\caddy\updates\desktop\win

DB_HOST=localhost
DB_PORT=5432
DB_NAME=bhash
DB_USER=bhash
DB_PASSWORD=troque-essa-senha
JWT_SECRET=troque-por-uma-chave-forte

APP_HOST=0.0.0.0
PORT=3000
VITE_WS_PATH=/socket.io
RUN_PROXY_MODE=true

SEED_SUPERADMIN_USERNAME=superadmin
SEED_SUPERADMIN_PASSWORD=troque-essa-senha
SEED_SUPERADMIN_NAME=SuperAdmin
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=troque-essa-senha
SEED_ADMIN_NAME=Administrador
